.my-list{ 
    background-color: #1323d2;
    padding : 8px 24px; 
    width: 600px; 
    font-size: 40px;
    border: 1px solid #81e5f7; 
    box-shadow: 0 0 10px 2px #dd1010; 
    margin:auto; }
    ol{ margin:12px; }
     p{text-align: center; }